{% extends 'projekt47/base.html' %}
{% load telebottertags %}

{% block content %}
<div class="spacer" style="margin-top:100px;"></div>

<div class="container">
  <h1>{{ addon.name }}</h1>
  <p>{{ addon.text }}</p>
  <h2>Werte</h2>
  <div class="card-columns">
    {% for stat in addon.stats.all %}
      {% as_card stat.card_context %}
    {% endfor %}
  </div>
  <h2>Aktionen</h2>
  <div class="card-columns">
    {% for action in addon.actions.all %}
      {% as_card action.card_context %}
    {% endfor %}
  </div>
  <h2>Metakarten</h2>
  <div class="card-columns">
    {% for meta in addon.meta_cards.all %}
      {% as_card meta.card_context %}
    {% endfor %}
  </div>
  <h2>Ressourcen</h2>
  <div class="card-columns">
    {% for res in addon.ressources.all %}
      {% as_card res.card_context %}
    {% endfor %}
  </div>
</div>
{% endblock %}
