<div class="card {{ class }}">

  {% if image %}
    <img class="card-img-top" src="{{ image }}" alt="{{ title }}">
  {% endif %}

  <div class="card-body">

    <h5 class="card-title">{{ title }}</h5>

    {% if subtitle %}
      <h6 class="card-subtitle mb-2 text-muted">{{ subtitle }}</h6>
    {% endif %}

    <p class="card-text">{{ text }}</p>

    {% for u in urls %}
      <a href="{{ u.href }}" class="card-link">{{ u.link }}</a>
    {% endfor %}

  </div>

  {% if footer %}
    <div class="card-footer">
        <small class="text-muted">{{ footer }}</small>
    </div>
  {% endif %}

</div> <!-- card -->
